@model NeptunoMVC01.ViewModels.Pais.PaisDetailVm

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>
<div class="row">
    <div class="col-md-12">
        <div>
            <h4>Pais</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NombrePais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombrePais)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.PaisId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Agregar Ciudad", "AddCity", new { id = Model.PaisId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
        </p>

    </div>
    
</div>

<div class="col-md-12">
<div class="well" style="text-align: center">
    <h4>Ciudades del pais</h4>
</div>
    <hr/>
    <table class="table table-bordered table-hover">
        <tr>
            <th style="text-align: center"><h3>
    @Html.DisplayNameFor(model => model.Ciudades.First().NombreCiudad)
            </h3></th>
            <th style="text-align: center"><h3>Opciones de edicion</h3></th>
        </tr>

        @foreach (var item in Model.Ciudades)
        {
            <tr>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.NombreCiudad)
                </td>
                <td style="text-align: center">
                    @Html.ActionLink("Editar", "Edit", new {id = item.CiudadId}, new {@class = "btn btn-warning"})
                    @Html.ActionLink("Borrar", "Delete", new {id = item.CiudadId}, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }

    </table>

</div>
