@model NeptunoMVC01.Models.Ciudad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CiudadId },new{@class="btn btn-warning"}) 
    @Html.ActionLink("Volver", "Index",new{},new{@class="btn btn-success"})
</p>
